footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #CCCCCC;
    height: 60px;
}

footer p {
    text-align: center;
    margin: 20px;
}
